//colors
$color_bright_gray_approx: #3f444e;
$white: #fff;
$color_alizarin_crimson_approx: #d8232a;
$black: #000;
$color_alabaster_approx: #fcfcfc;
$color_celeste_approx: #ccc;
$color_masala_approx: #3d3d3d;
$color_comet_approx: #585686;
$color_salmon_approx: #fd926d;
$color_bon_jour_approx: #e1e1e1;
$color_black_45_approx: rgba(3, 3, 3, 0.45);
$color_persian_red_approx: #cb242a;
$color_gallery_approx: #edeff0;
$color_pumice_approx: #cacaca;
$color_shady_lady_approx: #a6a8ab;
$color_silver_chalice_approx: #aaa;
$color_charade_approx: #262c38;
$color_star_dust_approx: #a0a0a0;
$white_40: rgba(255, 255, 255, 0.4);
$color_fuscous_gray_approx: #555;
$color_tundora_approx: #4c4145;
$color_cape_cod_approx: #404040;
$color_curious_blue_approx: #2da5da;
$color_suva_gray_approx: #888;
$red: red;
$color_mountain_mist_approx: #999;
$color_mercury_approx: #e4e4e4;
$color_alto_approx: #dfdddd;
$color_outrageous_orange_approx: #ff5b36;
$color_winter_hazel_approx: #d2cf99;
$color_robins_egg_blue_approx: #00bff0;

//fonts
$font_0: Roboto Condensed;
$font_1: sans-serif;
$font_2: Oxygen;
$font_3: FontAwesome;
$font_4: Roboto;

//urls
$url_0: url(../images/img_sprite.png);
$url_1: url(../images/arrows.png);
$url_2: url(../images/search.png);
$url_3: url(../images/img-sprite.png);
$url_4: url(../images/star.png);
$url_5: url(../images/tick1.png);