<div class="col-md-6 login-left">
    <h3>Create new List</h3>
    <p>Create your personal list.</p>
    <form name="frmCreate" id="frmCreate" class="form-submit1">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" data-ng-model="listCtrl.data.name" placeholder="Enter name" required >
        </div>
        <div class="form-group">
            <label for="description">Short Description:</label>
            <textarea class="form-control" id="description" name="description" data-ng-model="listCtrl.data.description" required></textarea>
        </div>
        <div class="form-group">
            <label for="language">Language:</label>
            <select name="language" id="language" data-ng-model="listCtrl.data.language" class="form-control" ng-options="language.name for language in listCtrl.languages track by language.code"></select>
        </div>
        <mov-button btn-action="listCtrl.createNew(listCtrl)" btn-name="createList" btn-id="createList" btn-value="Create" btn-class="btn btn-default"></mov-button>
    </form>
    <div class="message"></div>
</div>
