<div class="btn-group">
    <button type="button" class="btn btn-default" ng-click="addToFavorite(true);"><i class="fa fa-heart"></i> Favorite</button>
    <button type="button" class="btn btn-default" ng-click="addToWatchList(true);"><i class="fa fa-film"></i> Watchlist</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle = "dropdown"><i class="fa fa-video-camera"></i> Videos</button>
    <ul class = "dropdown-menu menu-videos" role = "menu" data-ng-show="videos.results.length">
        <li data-ng-repeat="video in videos.results"><a id="{{video.id}}" href = "http://www.youtube.com/watch?v={{video.key}}" target="_blank">{{video.name}}</a></li>
    </ul>
    <button type="button" class="btn btn-default"><i class="fa fa-qrcode"></i> List</button>
    <button type="button" class="btn btn-default"><i class="fa fa-share-alt"></i> Share</button>
</div>
