<div class="content">
    <div class="register">
        <div class="col-md-6 login-left">
            <h3>New Customers</h3>
            <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
            <a class="acount-btn" href="register.html">Create an Account</a>
        </div>
        <div class="col-md-6 login-right">
            <h3>Registered Customers</h3>
            <p>If you have an account with us, please log in.</p>
            <form name="frmLogin" id="frmLogin">
                <div>
                    <label for="username">User Name</label>
                    <input type="text" name="username" id="username" data-ng-model="data.username" class="form-control" required >
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" data-ng-model="data.password" class="form-control" ng-minlength="6" ng-maxlength="20"  required >
                </div>
                <a class="forgot" href="#">Forgot Your Password?</a>
                <mov-button btn-id="login" btn-name="login" btn-action="userCtrl.userLogin(data)" btn-class="btn btn-default" btn-value="Login"></mov-button>
            </form>
            <div class="message"></div>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
